<title>{% block title %}OnlineStore │ Cart{% endblock %}</title>

{% extends 'shared/layout.html' %}
{% block search %}{% endblock %}

{% block content %}
    <div class="container">
        {% if checkout_success %}
            <!-- Order confirmation content -->
            <div class="confirmation-msg text-center p-5">
                <h2 class="font-weight-bold mb-4">Thank you for your purchase!</h2>
                <img src="/static/img/confirmation.png" alt="Order confirmed" draggable="false">
                <p class="mt-3">Your order has been successfully placed.</p>
            </div>
            <div>
                <a id="back-to-homepage" href="{{url_for('index')}}">
                    <p class="text-center">Go back to homepage</p>
                </a>
            </div>
        {% else %}
            {% if user %}
                {% if order_id %}
                    <h1 class="text-uppercase font-weight-bold p-4 mb-0">Cart</h1>
                    {% for product in user_order_products %}
                        <div class="cart-products p-4">
                            <!-- Product image -->
                            <div class="cart-product-img">
                                <a href="{{ url_for('product.product', product_id=product[4]) }}">
                                    <img src="{{ product[0] }}" alt="{{ product[1] }}">
                                </a>
                            </div>

                            <!-- Product details -->
                            <div class="cart-product-details"> 
                                <!-- Name -->
                                <p class="font-weight-bold"><a href="{{ url_for('product.product', product_id=product[4]) }}">{{ product[1] }}</a></p>
                                <!-- Quantity-->
                                <p><span class="cart-product-quantity font-italic">Quantity:</span> {{ product[2] }}</p>
                                <!-- Total price (for the specific product) -->
                                <p class="font-weight-bold">{{ product[3] }} SEK</p>
                                <!-- Remove item button -->
                                <form method="POST" action="{{ url_for('cart.remove_item_from_cart', product_id=product[4]) }}" class="form-remove-item-from-cart">
                                    <button type="submit" class="delete-product-from-cart btn ml-auto text-uppercase" id="delete-product-from-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <!-- Total sum -->
                    {% for order_detail in user_orders_details %}
                        <div class="total-sum p-2 mt-4 text-center">
                            <p class="font-weight-bold">Total {{ order_detail[2] }} SEK</p>
                        </div>
                        
                        <!-- Check out button -->
                        <div class="mt-4 text-center">
                            <form method="POST" action="{{ url_for('cart.order_check_out', order_id=order_detail[0]) }}" onclick="showCheckOutPopUp()">
                                <button type="submit" class="check-out-btn p-4 font-weight-bold">Check out</button>
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

<script src="/static/js/script.js"></script>