* {
    font-family: "Rambla", sans-serif;
    margin: 0;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 20px -2px #c2c0be;
    gap: 1rem;
    width: 100%;
}

.brand-icon {
    font-family: "Chango", sans-serif;
    font-size: 20px;
}

.nav-item > a, 
.brand-icon {
    color: #c07c93;
}
.nav-item > a:hover, 
.brand-icon:hover {
    color: #a75570;
    transition: 0.3s;
    text-decoration: none;
}

.nav-item-icons {
    display: flex;
    align-items: center;
}

.nav-item-icons > a {
    margin-left: 15px;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

/* Search container */
.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#search-field {
    width: 45em;
    height: 3em;
    border-radius: 25px;
    padding: 1.5em;
}

/* products on homepage */
.products-container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 20em;
    height: 20em;
    margin: 1.5em;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 10px -5px #c2c0be;
    border-radius: 3px;
}

.product-img > img {
    vertical-align: middle;
    max-width: 18em;
    max-height: 13em;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #111;
}

.product-info > .product-price {
    font-size: 25px;
}

/* product page */
.selected-product,
.add-to-cart-field {
    display: flex;
}

.selected-product-img {
    background-color: #eee;
    border-radius: 5px;
}

.selected-product-img > img {
    max-width: 500px;
    max-height: 500px;
}

.add-to-cart-field > input {
    background-color: #c07c93;
    color: #f3f9fa;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.quantity {
    display:flex;
    width: 150px;
    border: 1.5px solid #eee;
    border-radius: 5px;
}
.quantity > input,
.quantity > button {
    width: 50px;
    padding: 0.5em;
    text-align:center;
    border: none;
    outline: none;
}
.quantity > button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e9dddd;
    color: #4b4343;
    font-size: 30px;
}

.quantity > button:hover {
    background-color: #cfbbbb;
    transition: 0.3s;
}

/* cart */
.cart-products {
    border-bottom: 1px solid #ddd;
    background-color: #f5f3f3;
    border-radius: 2px;
}

.cart-products,
.cart-product-details {
    display: flex;
}

.cart-product-img {
    width: 30%;
}
.cart-product-img > a > img {
    max-width: 100px;
    max-height: 100px;
}

.cart-product-details {
    padding: 20px 0;
    width: 70%;
    justify-content: space-between;
}
.cart-product-details > p,
.cart-product-details > .quantity {
    width: 20%;
}
.cart-product-details > p > a {
    color: #111;
}
.cart-product-quantity {
    font-size: 13px;
}

.delete-product-from-cart > svg {
    color: #948787;
}

.total-price,
.check-out-btn {
    background-color: #f5f3f3;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px #cfcaca;
}
.total-price > p {
    font-size: 1.2em;
    padding-top: 10px;
}
.check-out-btn {
    width: 100%;
    border: none;
    background-color: #c07c93;
    font-size: 1.5em;
    color: #fff;
}
.check-out-btn:hover {
    background-color: #d88fa7;
    transition: 0.3s;
}

/* user profile */
.welcome-msg {
    border-bottom: 1px solid #777;
}

.logout-button {
    width: 5em;
    background-color: #c07c93;
    border-radius: 5px;
    color: #eee;
}
.logout-button:hover {
    background-color: #a75570;
    transition: 0.3s;
    color: #eee;
}

/* order info */
.order {
    display: flex;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.order > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}

.order > table th,
.order > table td {
    padding: 15px;
    text-align: left;
}

.order-table-th {
    background-color: #dbdbdb;
}

#order-quick-info {
    background-color: #d88fa7;
}
#order-quick-info > table th,
#order-quick-info > table td {
    padding: 5px;
}

/* forms (login and registration) */
.forms-container {
    margin: 7em 0;
}

.form-groups {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-bottom: -1em;
}

.form-groups > p {
    display: flex;
    flex-direction: column;
    width: 39%;
}

.form {
    background-color: #f7f5f5;
    padding: 2em;
    width: 40em;
    border-radius: 5px;
}
.form > p {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.form > p > label,
.form-groups > p > label {
    margin: 1.5em 0 0 0;
    text-align: left;
}
.form > p > input,
.form-groups > p > input {
    padding: 0.7em;
    border: 1px solid #6d6d6d;
    border-radius: 10px;
}
.form > p > input::placeholder {
    font-style: italic;
    font-size: 0.8em;
}
.form > p > input:hover {
    border: 1px solid #000;
    transition: 0.3s;
}
.form > .button {
    width: 80%;
    margin: 1.5em 0 0.7em 0;
    padding: 1em;
    border-radius: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    /* navbar */
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(216, 143, 167)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .custom-toggler.navbar-toggler {
        border: none;
        margin-left: -0.5em;
    } 

    .navbar {
        justify-content: flex-start !important;
    }

    .brand-icon {
        font-size: 15px;
    }

    #search-field {
        width: 16em;
    }

    /* products on homepage */
    .products-container {
        justify-content: center;
    }

    .product {
        width: 20em;
        height: 18em;
        margin: 1em;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #111;
    }

    /* product page */
    .selected-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .selected-product-img > img {
        max-width: 300px;
        max-height: 300px;
    }

    .selected-product-info > h2 {
        font-size: 40px;
    }

    /* forms (login and registration) */
    .forms-container {
        margin: 1em 0;
    }

    .form-groups {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.1em;
    }

    .form-groups > p {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .form {
        width: 100%;
        border-radius: 5px;
    }
    .form > p {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .form > p > label,
    .form-groups > p > label {
        margin-top: 1em;
    }
    .form > p > input,
    .form-groups > p > input {
        padding: 0.5em;
    }
    .form > .button {
        width: 100%;
        margin-top: 1.5em;
        padding: 1em;
    }
}