{% extends 'shared/layout.html' %}

{% block title %}OnlineStore │ Admin dashboard {% endblock %}

{% block search %}{% endblock %}

{% block content %}
    <div class="container p-4">
        <h1 class="text-uppercase font-weight-bold">{{ section|capitalize }}</h1>
        <div class="order">
            <table border="1">
                <tr>
                {% for header in table_headers %}
                    <th class="text-center">{{ header }}</th>
                {% endfor %}
                </tr>
                {% for row in table_data %}
                <tr>
                    {% for item in row %}
                    <td class="text-center">
                        {% if loop.index0 == 0 and section == 'orders' %}
                            <a href="{{ url_for('orders.user_order_details', order_id=item) }}">{{ item }}</a>
                        {% elif item is string and item.startswith('http') %}
                            <img src="{{ item }}" alt="product image" width="100">
                        {% else %}
                            {{ item }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
{% endblock %}