<title>{% block title %}OnlineStore │ Cart{% endblock %}</title>

{% extends 'shared/layout.html' %}
{% block search %}{% endblock %}

{% block navbar %}
    <nav>
        <div class="brand-icon">
            <img src="/static/img/Online-store-logo.png" alt="brand logo">
        </div>
        <ul>
            <li><a href="{{ url_for('admin_dashboard.admin_dashboard', section='orders') }}">Orders</a></li>
            <li><a href="{{ url_for('admin_dashboard.admin_dashboard', section='products') }}">Products</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-uppercase font-weight-bold">{{ section|capitalize }}</h2>
        <table border="1">
            <tr>
            {% for header in table_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
            {% for row in table_data %}
            <tr>
                {% for item in row %}
                <td>
                    {% if item is string and item.startswith('http') %}
                    <img src="{{ item }}" alt="product image" width="100">
                    {% else %}
                    {{ item }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}