<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineStore</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">OnlineStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link active" href="#">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
    </nav>
    <main>
      <div class="container">
        <h1>Products</h1>
        <div class="products-container">
          {% for r in list_products %}
          <div class="product">
            <div class="product-img">
              <img src="{{ r[7] }}" alt="{{ r[1] }}" class="product_image">
            </div>
            <div class="product-info">
              <p class="product-supplier">{{ r[4] }}</p>
              <p class="product-name">{{ r[1] }}</p>
              <p>{{ r[6] }} SEK</p>
              <input type="submit" class="add-to-cart-button btn btn-dark" value="+">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
</body>
</html>