<title>{% block title %}OnlineStore │ Login{% endblock %}</title>

{% include 'shared/layout.html' %}

{% block content %}
  <div class="container forms-container">
    <h1 class="text-center font-weight-bold text-uppercase">Login</h1>
    <form action="/login_form" method="POST" class="form m-auto text-center">
        <p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="e.g., hello@gmail.com" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </p>
        
        <input type="submit" class="button btn btn-dark" value="Login">

        <a href="{{url_for('registration.registration')}}" id="register"><p>Register</p></a>
    </form>
  </div>
{% endblock %}