<title>{% block title %}OnlineStore │ Login{% endblock %}</title>

{% include 'shared/layout.html' %}

{% block content %}
  <div class="container">
    <form action="/login_form" method="POST">
        <p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Write here" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Write here" required>
        </p>
        
        <input type="submit" class="button btn btn-dark" value="Submit">

        <a href="/registration" id="register"><p>Register</p></a>
    </form>
  </div>
{% endblock %}