{% extends 'shared/layout.html' %}

{% block title %}OnlineStore │ Order details{% endblock %}

{% block content %}
    <div class="container admin-container">
        {% if order_id %}
            <h1 class="text-uppercase font-weight-bold mb-3 pt-4">Order details</h1>
            {% if is_admin %}
                {% for order_info in user_orders %}
                    <form method="post" action="#">
                        <label for="status">Current orderstatus: <strong>{{ order_info[3] }}</strong></label>
                        <select name="status" id="status" class="form-control">
                            <option value="confirmed">Confirmed</option>
                            <option value="shipped">Shipped</option>
                        </select>
                        <button type="submit" class="btn btn-primary mt-2">Update</button>
                    </form>
                {% endfor %}
            {% endif %}

            {% for order_info in user_orders %}
            <div class="order" id="order-quick-info">
                <table>
                    <tr class="text-uppercase">
                        <th>Order ID</th>
                        <th>Order date</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>{{ order_info[0] }}</td>
                        <td>{{ order_info[1] }}</td>
                        <td>{{ order_info[2] }} SEK</td>
                    </tr>
                </table>
            </div>
            {% endfor %}

            {% for product in user_order_products %}
                <div class="cart-products p-4">
                    <div class="cart-product-img">
                        {% if user[9] %}
                            <img src="{{ product[0] }}" alt="{{ product[1] }}">
                        {% else %}
                            <a href="{{ url_for('product.product', product_id=product[4]) }}">
                                <img src="{{ product[0] }}" alt="{{ product[1] }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="cart-product-details">
                        {% if user[9] %}
                            <p class="font-weight-bold">{{ product[1] }}</p>
                        {% else %}
                            <p class="font-weight-bold">
                                <a href="{{ url_for('product.product', product_id=product[4]) }}">{{ product[1] }}</a>
                            </p>
                        {% endif %}
                        <p><span class="cart-product-quantity font-italic">Quantity:</span> {{ product[2] }}</p>
                        <p class="font-weight-bold">{{ product[3] }} SEK</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

<script src="/static/js/script.js"></script>