{% extends 'shared/layout.html' %}

{% block title %}OnlineStore{% endblock %}

{% block content %}
    <div class="container selected-product-container text-center mb-5">
        {% for product_info in selected_product %}
            <article class="selected-product">
                <div class="selected-product-img">
                    <img src="{{ product_info[5] }}" alt="{{ product_info[1] }}" loading="lazy">
                </div>
                <div class="selected-product-info text-left">
                    <h4 class="font-weight-bold text-uppercase">{{ product_info[1] }}</h4> <!-- product name -->
                    <h3 class="font-weight-bold display-4">{{ product_info[4] }} SEK</h3>
                    <p class="text-justify">{{ product_info[2] }}</p>
                    {% if product_info[6] > 0 %}
                        {% if product_info[6] <= 5 %}
                            <p style="color: red">{{product_info[6]}} left in stock</p>
                        {% endif %}
                        <form method="post" action="{{ url_for('cart.add_to_cart', product_id=product_info[0]) }}" aria-label="Add {{ product_info[1] }} to cart">
                            <div class="add-to-cart-field mt-5">
                                <div class="quantity p-2">
                                    <button class="btn p-3 minus-btn" type="button" onclick="decrement()">-</button>
                                    <input id="quantity" min="1" max="10" name="quantity" value="1" type="number" readonly>
                                    <button class="btn add-btn" type="button" onclick="increment()">+</button>
                                </div>
                                <input type="submit" class="add-to-cart-btn btn ml-3 text-uppercase" id="add-to-cart-btn" value="Add to cart">
                            </div>
                        </form>
                    {% else %}
                        <button class="btn btn-secondary" disabled>Out of stock</button>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

<script src="/static/js/script.js"></script>