<title>{% block title %}OnlineStore │ Profile{% endblock %}</title>

{% extends 'shared/layout.html' %}
{% block search %}{% endblock %}

{% block content %}
  <div class="container">
    <a class="nav-link logout-button text-center ml-auto" href="{{ url_for('user_profile.logout') }}">Logout</a>
    {% if user %}
      <div class="welcome-msg mb-3">
          <h4 class="text-center">Hi <strong>{{ user[1] }}</strong>!</h4>
      </div>
      <div class="user-orders">
          <h3 class="text-uppercase font-weight-bold">Orders</h3>
          <div class="order">
            <table>
              <tr class="text-uppercase order-table-th">
                <th>ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
              </tr>
              {% for order_info in user_orders %}
              <tr>
                <td><a href="{{ url_for('user_profile.user_order_details', order_id=order_info[0]) }}">{{ order_info[0] }}</a></td>
                <td>{{ order_info[1] }}</td>
                <td>{{ order_info[3] }} SEK</td>
                <td>{{ order_info[4] }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    {% endif %}
  </div>
{% endblock %}